<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./include/head.ejs') %>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js" defer></script>
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="input">
    <div class="container">
        <ul>
        
        </ul>
    </div>
</body>
</html>