/* arabic */
@font-face {
    font-family: 'Amiri Quran';
    font-style: normal;
    font-weight: 400;
    src: url(font/AmiriQuran-Regular.ttf) ;
}


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: #d4d797;
    font-size: 20px;
    font-family: 'Amiri Quran';
}

