header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    top: 0;
    background-color: #d4d797;
    margin-bottom: 16px;
    box-shadow: 0 0 10px 0 #00000030;
}

header a {
    color: black;
}

.container{
    text-align: center;
    padding: 0 clamp(25px,10vw,10vw);
}